<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="CarParkingDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\!Files\Documents\ProgLabsVisualStudio\Labs\Sem_5\C#\CarParking\CarParking\CarParkingDB.mdf;Integrated Security=True"/>
    </connectionStrings>
</configuration>